[submodule "backend"]
	path = backend
	url = git@github.com:vunter/loterias-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:vunter/loterias-frontend.git
[submodule "aposta-facil"]
	path = aposta-facil
	url = git@github.com:vunter/loterias-aposta-rapido.git
	branch = main
